/**
 * Variables
*/

/* Typography */
$h1-size: 2.5625rem;
$h1-weight: 700;
$h1-lh: 120%;
$h1-size-640: 1.875rem;

$h2-size: 2.125rem;
$h2-weight: 700;
$h2-lh: 100%;
$h2-size-640: 1.5rem;

$h3-size: 1.5rem;
$h3-weight: 700;
$h3-lh: 140%;

$h4-size: 1.25rem;
$h4-weight: 400;
$h4-lh: 150%;

$text-size: 1rem;
$text-weight: 400;

$text-size-2: 0.875rem;

$btn-size: 0.875rem;

$icon-size: 1.5rem;

$checkbox-fz: 0.875rem;

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$primary-color: #20B2AA;
// $primary-color: #5dc2d7; //основной
// $primary-color-dark: #478589;
$border-color-grey: #696969;
$primary-color-dark: #478589;
$primary-color-white: #FFFFFF;
$bg-color: #F9F9F9;
$bg-color-dark: #313131;
$bg-color-footer: #FFFFFF;
$text-color: #191919;
$text-color-light: #FFFFFF;
$danger-color: #E23535;
$form-bg-color: #FFFFFF;
$breadcrums-color: #969696;

$shadow: 0 5px 5px rgba(#000, 0.05);

/* Components */